<Plugin Description="NotifyEntityChangePlugin" FriendlyName="NotifyEntityChangePlugin" Name="Cacheron.NotifyEntityChangePlugin" Id="7e9e86f1-f696-4896-a380-0e6a0ea095c4" TypeName="Cacheron.NotifyEntityChangePlugin">
  <Step Stage="PostOutsideTransaction" MessageName="Create" PrimaryEntityName="account" Name="PostOutsideTransactionaccountCreate" Description="PostOutsideTransaction of account Create" Id="00000000-0000-0000-0000-000000000000" Mode="Asynchronous" Rank="1" SupportedDeployment="ServerOnly" />
  <Step Stage="PostOutsideTransaction" MessageName="Update" PrimaryEntityName="account" Name="PostOutsideTransactionaccountUpdate" Description="PostOutsideTransaction of account Update" Id="00000000-0000-0000-0000-000000000000" Mode="Asynchronous" Rank="1" SupportedDeployment="ServerOnly" />
  <Step Stage="PostOutsideTransaction" MessageName="Delete" PrimaryEntityName="account" Name="PostOutsideTransactionaccountDelete" Description="PostOutsideTransaction of account Delete" Id="00000000-0000-0000-0000-000000000000" Mode="Asynchronous" Rank="1" SupportedDeployment="ServerOnly" />
  <Step Stage="PostOutsideTransaction" MessageName="Create" PrimaryEntityName="contact" Name="PostOutsideTransactioncontactCreate" Description="PostOutsideTransaction of contact Create" Id="00000000-0000-0000-0000-000000000000" Mode="Asynchronous" Rank="1" SupportedDeployment="ServerOnly" />
  <Step Stage="PostOutsideTransaction" MessageName="Update" PrimaryEntityName="contact" Name="PostOutsideTransactioncontactUpdate" Description="PostOutsideTransaction of contact Update" Id="00000000-0000-0000-0000-000000000000" Mode="Asynchronous" Rank="1" SupportedDeployment="ServerOnly" />
  <Step Stage="PostOutsideTransaction" MessageName="Delete" PrimaryEntityName="contact" Name="PostOutsideTransactioncontactDelete" Description="PostOutsideTransaction of contact Delete" Id="00000000-0000-0000-0000-000000000000" Mode="Asynchronous" Rank="1" SupportedDeployment="ServerOnly" />
  <Step Stage="PostOutsideTransaction" MessageName="Create" PrimaryEntityName="salesorder" Name="PostOutsideTransactionsalesorderCreate" Description="PostOutsideTransaction of salesorder Create" Id="00000000-0000-0000-0000-000000000000" Mode="Asynchronous" Rank="1" SupportedDeployment="ServerOnly" />
  <Step Stage="PostOutsideTransaction" MessageName="Update" PrimaryEntityName="salesorder" Name="PostOutsideTransactionsalesorderUpdate" Description="PostOutsideTransaction of salesorder Update" Id="00000000-0000-0000-0000-000000000000" Mode="Asynchronous" Rank="1" SupportedDeployment="ServerOnly" />
  <Step Stage="PostOutsideTransaction" MessageName="Delete" PrimaryEntityName="salesorder" Name="PostOutsideTransactionsalesorderDelete" Description="PostOutsideTransaction of salesorder Delete" Id="00000000-0000-0000-0000-000000000000" Mode="Asynchronous" Rank="1" SupportedDeployment="ServerOnly" />
  <Step Stage="PostOutsideTransaction" MessageName="Create" PrimaryEntityName="invoice" Name="PostOutsideTransactioninvoiceCreate" Description="PostOutsideTransaction of invoice Create" Id="00000000-0000-0000-0000-000000000000" Mode="Asynchronous" Rank="1" SupportedDeployment="ServerOnly" />
  <Step Stage="PostOutsideTransaction" MessageName="Update" PrimaryEntityName="invoice" Name="PostOutsideTransactioninvoiceUpdate" Description="PostOutsideTransaction of invoice Update" Id="00000000-0000-0000-0000-000000000000" Mode="Asynchronous" Rank="1" SupportedDeployment="ServerOnly" />
  <Step Stage="PostOutsideTransaction" MessageName="Delete" PrimaryEntityName="invoice" Name="PostOutsideTransactioninvoiceDelete" Description="PostOutsideTransaction of invoice Delete" Id="00000000-0000-0000-0000-000000000000" Mode="Asynchronous" Rank="1" SupportedDeployment="ServerOnly" />
  <Step Stage="PostOutsideTransaction" MessageName="Create" PrimaryEntityName="contract" Name="PostOutsideTransactioncontractCreate" Description="PostOutsideTransaction of contract Create" Id="00000000-0000-0000-0000-000000000000" Mode="Asynchronous" Rank="1" SupportedDeployment="ServerOnly" />
  <Step Stage="PostOutsideTransaction" MessageName="Update" PrimaryEntityName="contract" Name="PostOutsideTransactioncontractUpdate" Description="PostOutsideTransaction of contract Update" Id="00000000-0000-0000-0000-000000000000" Mode="Asynchronous" Rank="1" SupportedDeployment="ServerOnly" />
  <Step Stage="PostOutsideTransaction" MessageName="Delete" PrimaryEntityName="contract" Name="PostOutsideTransactioncontractDelete" Description="PostOutsideTransaction of contract Delete" Id="00000000-0000-0000-0000-000000000000" Mode="Asynchronous" Rank="1" SupportedDeployment="ServerOnly" />
  <Step Stage="PostOutsideTransaction" MessageName="Create" PrimaryEntityName="lead" Name="PostOutsideTransactionleadCreate" Description="PostOutsideTransaction of lead Create" Id="00000000-0000-0000-0000-000000000000" Mode="Asynchronous" Rank="1" SupportedDeployment="ServerOnly" />
  <Step Stage="PostOutsideTransaction" MessageName="Update" PrimaryEntityName="lead" Name="PostOutsideTransactionleadUpdate" Description="PostOutsideTransaction of lead Update" Id="00000000-0000-0000-0000-000000000000" Mode="Asynchronous" Rank="1" SupportedDeployment="ServerOnly" />
  <Step Stage="PostOutsideTransaction" MessageName="Delete" PrimaryEntityName="lead" Name="PostOutsideTransactionleadDelete" Description="PostOutsideTransaction of lead Delete" Id="00000000-0000-0000-0000-000000000000" Mode="Asynchronous" Rank="1" SupportedDeployment="ServerOnly" />
  <Step Stage="PostOutsideTransaction" MessageName="Create" PrimaryEntityName="opportunity" Name="PostOutsideTransactionopportunityCreate" Description="PostOutsideTransaction of opportunity Create" Id="00000000-0000-0000-0000-000000000000" Mode="Asynchronous" Rank="1" SupportedDeployment="ServerOnly" />
  <Step Stage="PostOutsideTransaction" MessageName="Update" PrimaryEntityName="opportunity" Name="PostOutsideTransactionopportunityUpdate" Description="PostOutsideTransaction of opportunity Update" Id="00000000-0000-0000-0000-000000000000" Mode="Asynchronous" Rank="1" SupportedDeployment="ServerOnly" />
  <Step Stage="PostOutsideTransaction" MessageName="Delete" PrimaryEntityName="opportunity" Name="PostOutsideTransactionopportunityDelete" Description="PostOutsideTransaction of opportunity Delete" Id="00000000-0000-0000-0000-000000000000" Mode="Asynchronous" Rank="1" SupportedDeployment="ServerOnly" />
</Plugin>