<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionStrings.Crm2015.Spotlight" connectionString="Url=http://sandbox-crm2015.sandbox.local/tamandua;Domain=SANDBOX; Username=a; Password=a;" />

  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>